---
title: Portfolio (2018)
slug: portfolio-2018
date: 2018-08-10
layout: layout
---

<h1>Things of quality<br>have no fear of time.</h1>
<p>I have a shirt with those words printed on the back. It reminds me of the fulfillment found in choosing the hard work of doing what's right. But perfection is an illusory attainment and I think the reprieve of balance comes when we simply focus on improving.</p>
<p>In addition to philosophical quests, I've been working across the whole stack since 2012 building out the back and front ends of web-based desktop and mobile apps. On a given day I'd like to have asked clients the right questions, written timeless documentation, and made a few pixels happy.</p>
<p>Let's take a look at some of my work below.</p>

<a href="mailto:brian.littmann@gmail.com" class="outline-btn">Let's Talk</a>

<h3 class="project-header">
  <%= image_tag 'portfolio_2018/newmedio.png', alt: "New Medio logo", height: "45px" %> New Medio
</h3>
<p>
  New Medio is where I spent the past six years as the lead developer building custom applications for a number of different clients. Some of these projects were internal company tools while others were consumer facing. Let's start with the former.
</p>

<p>A wine and spirits broker approached us asking for an overhaul of their spreadsheet-based purchase order and invoicing system. After many meetings digesting the business logic and tax reporting requirements, I built and delivered the internal Rails application that helps power their business averaging over $6 million in annual billings.</p>
<%= image_tag 'portfolio_2018/screens/select.png', alt: "Purchase order system", class: "screenshot" %>

<p class="project-details">Another internal application, this oil and gas company brought us detailed wireframes for a job dispatching application that would interface with an existing MySQL database and require cross-domain single sign-on functionality. I built out the Django-based web app with job management, drag and drop scheduling, and helped scale the system upon reaching bottlenecks.</p>
<%= image_tag 'portfolio_2018/screens/dispatch.png', alt: "Job dispatcher", class: "screenshot" %>

<p class="project-details">On one of our larger and more collaborative projects, the client wanted to create a new public-facing event registration platform that would eventually reach monthly revenues in excess of $1 million. We worked closely with their event coordinators and accounting teams to create the registration flows and meet reporting requirements, then progressively grew the platform by deploying many ancillary features such as event day tools, mobile ticketing, order adjustments, and comprehensive event management for company admins.</p>
<%= image_tag 'portfolio_2018/screens/eventelf.png', alt: "Event registration", class: "screenshot" %>

<h3 class="project-header">
  <%= image_tag 'portfolio_2018/podium.png', alt: "Podium Skate logo", height: "40px" %> Podium Skate
</h3>
<p>
  Podium is breaking ground in the skateboarding scene, providing a way for skaters around the world to compete against each other and earn points that could get them invited to national competitions.
  At its core, skaters upload their clips and enter them into competitions, which are scored by the community. Finalists are then judged by a panel of pro skaters.
</p>
<p>
  I designed and built the fully tested and documented Rails API including asynchronous video uploading and encoding through AWS, admin and competition judging areas, and was the lead developer for the Ionic 2 based iOS and Android apps.
</p>

<%= image_tag 'portfolio_2018/screens/podium.png', alt: "Podium Skate project", class: "screenshot" %>

<h3 class="project-header">
  <%= image_tag 'portfolio_2018/root.png', alt: "Root Tulsa logo", height: "35px" %> Root Tulsa
</h3>
<p>
  Root Tulsa is an interconnected geolocation CMS that serves as a guide to life in Tulsa for both locals and visitors featuring places and events nearby.
  Working with the client to refine the initial vision, we started with a native iOS app backed by a Rails API along with a mobile web frontend.
</p>
<p>
  I was the lead architect and developer for the API backend, original mobile web app, and admin CMS. Many revisions to the app were made, including support for recurring events, and the project has continued to evolve since my last involvement.
</p>

<%= image_tag 'portfolio_2018/screens/root.png', alt: "Root Tulsa project", class: "screenshot" %>
