---
title: Workspaces
slug: workspaces
date: 2021-01-14
---

<p>
  A good workspace is like the anti-depressant you don't have to take.<br>
  It's an homage to your humanity and an incubator of inspiration.<br>
  I've found simplicity to be a good ingredient.<br>
  There is always more to be found.
</p>

<div class="postcard">
  <div class="row">
    <div class="six columns">
      <%= image_tag 'workspaces/2006-10-23-DormA.jpg', alt: "ViewSonics" %>
    </div>
    <div class="six columns">
      <%= image_tag 'workspaces/2006-10-23-DormB.jpg', alt: "ACD20" %>
    </div>
  </div>

  <p>Fanboy. College, October 2006.</p>
</div>

<div class="postcard">
  <div class="row">
    <div class="six columns">
      <%= image_tag 'workspaces/2010-07-12-601.jpg', alt: "TV Dinner Desk" %>
    </div>
    <div class="six columns">
      <%= image_tag 'workspaces/2011-04-17-AustinA.jpg', alt: "PVC Desk" %>
    </div>
  </div>

  <p>The standing desk. 601 and Austin, 2010-2011.</p>
</div>

<div class="postcard">
  <%= image_tag 'workspaces/2011-10-27-GradSchool.jpg', alt: "Grad school" %>
  <p>Whiteboard. Grad school, October 2011.</p>
</div>

<div class="postcard">
  <%= image_tag 'workspaces/2012-08-12-Rockford.jpg', alt: "IKEA" %>
  <p>IKEA. Tulsa studio, August 2012.</p>
</div>

<div class="postcard">
  <div class="row">
    <div class="six columns">
      <%= image_tag 'workspaces/2012-08-14-NewMedio.jpg', alt: "Cinder blocks" %>
    </div>
    <div class="six columns">
      <%= image_tag 'workspaces/2013-06-10-NewMedio.jpg', alt: "Spool" %>
    </div>
  </div>

  <p>Spool. New Medio, 2012-2013.</p>
</div>

<div class="postcard">
  <%= image_tag 'workspaces/2016-07-14-NewMedio.jpg', alt: "Stool" %>
  <p>Stool. New Medio, July 2016.</p>
</div>

<div class="postcard">
  <%= image_tag 'workspaces/2017-05-27-4334.jpg', alt: "Tycho" %>
  <p>Tycho. Palindrome, May 2017.</p>
</div>

<div class="postcard">
  <%= image_tag 'workspaces/2018-12-19-1925.jpg', alt: "Remote" %>
  <p>Remote. Seattle, December 2018.</p>
</div>
